@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: #d3d3d38f;
    font-family: Mulish;
}

/* /////////// header //////// */
header {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    /* grid-template-columns: 40% 20% 40%; */
    grid-auto-rows: minmax(60px, auto);
    gap: 1em;
    /* border: 1px solid #333; */
    justify-items: stretch;
    align-items: stretch;
}

.logo {
    /* border: 1px solid #8888; */
    height: 50px;
    width: 50px;
    grid-column: 3;
    align-self: self-start;
    padding: 0px 0px
}

header h3 {
    padding-left: 5%;
    align-self: center;
    /* grid-column: 1; */
}

.auth-header {
    /* border: 1px solid #333333da; */
    margin-right: 10px;
    align-self: center;
    grid-column: 4;

}

.auth-header input {
    text-align: center;
    min-width: 40%;
    border: transparent;
    padding: 7px;
    border-radius: 15px;
    ;
    /* margin-right: 5px; */
}

header span {
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    row-gap: 3rem;
}

/* /////////// main header ////////  */
.main-header {
    margin: 0px 205px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    line-height: 5px;
}

.current p {
    font-size: small;
    color: rgb(114, 128, 153);
}

.amount {
    text-align: right;
    font-size: 42px;
}

/* /////////// movement container ////////  */
.mvt-container {
    /* border: 1px solid; */
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    margin-bottom: 50px;

}

/* /////////// left and right sections ////////  */
.left {
    width: 50%;
    margin-right: 10px;
    height: 490px;
    overflow: scroll;
    background-color: white;
}

.right {
    width: 50%;
    margin-left: 20px;
    /* margin-top: -18px; */
    height: 490px;
}

/* /////////// left side  ////////  */
.deposit-container,
.withdraw-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.deposit-info,
.withdraw-info span {
    font-size: 13px;
}

.deposit {
    border-radius: 10px;
    background: linear-gradient(to bottom right, #7ed481, #3ea343);
    color: azure;
    padding: 2px 10px;
    margin-right: 20px;
    margin-left: 20px;
    /* font-weight: 500; */
}

.withdraw {
    border-radius: 10px;
    background: linear-gradient(to bottom right, #e35858, #ba3f3f);
    color: azure;
    padding: 2px 10px;
    margin-right: 20px;
    margin-left: 20px;
    /* font-weight: 500; */
}

/* /////////// right side  ////////  */
/* //////////////// transfert box //////////// */
.transfert-box {
    background: linear-gradient(to right bottom, #ffc107, #ff9800);
    border-radius: 10px;
    height: 140px;
    padding-top: 10px;
    margin-bottom: 20px;
    position: relative;
}

.transfert-box h3 {
    padding-left: 40px;
}

.transfert-input,
.amount-loan-box-input,
.close-input {
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 10px;
    border: none;
    width: 30%;
    padding: 8px 0px;
    position: absolute;
    left: 40px;
    top: 60px;
    text-align: center;
}

.transfert-to {
    position: absolute;
    left: 70px;
    top: 95px;
}

.amout-transfert-box-input,
.pin-input {
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 10px;
    border: none;
    width: 30%;
    padding: 8px 0px;
    position: absolute;
    left: 200px;
    top: 60px;
    text-align: center;
}

.amount-transfert-label {
    position: absolute;
    left: 240px;
    top: 95px;
}

.btn-transfert-box,
.btn-close-box {
    position: absolute;
    right: 30px;
    border: transparent;
    border-radius: 10px;
    padding: 8px 23px;
    top: 60px;
    cursor: pointer;
}

/* //////////////// loan box //////////// */
.loan-box {
    background: linear-gradient(to right bottom, #59c45d, #48964c);
    border-radius: 10px;
    height: 140px;
    position: relative;
    padding-top: 10px;
    margin-bottom: 20px;
}

.loan-box h3 {
    padding-left: 40px;
}

.amount-loan-label {
    position: absolute;
    left: 80px;
    top: 95px;
}

.btn-loan-box {
    position: absolute;
    left: 200px;
    border: transparent;
    border-radius: 10px;
    padding: 8px 23px;
    top: 60px;
    cursor: pointer;
}

/* //////////////// close box //////////// */
.close-box {
    background: linear-gradient(to right bottom, #e35858, #ba3f3f);
    border-radius: 10px;
    height: 140px;
    position: relative;
    padding-top: 10px;
}

.close-box h3 {
    padding-left: 40px;
}

.confirm-label {
    position: absolute;
    left: 60px;
    top: 95px;
}

.pin-label {
    position: absolute;
    left: 225px;
    top: 95px;
}

/* //////////////// footer //////////// */
footer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.in, .out, .interest, .sort{
    font-size: 12px;
    font-weight: 600;
    margin-right: 15px;
}

.average-in, .average-interest {
font-size: 20px;
color: #7ed481;
}

.average-out {
font-size: 20px;
color: #ba3f3f;
}
.logout-timer {
  font-weight: 800;
}
.sort{
    position: absolute;
    left:46%
}